@import "tailwindcss";
@import "tw-animate-css";


/* globals.css */

/* Apply the font variable */
:root {
    --font-outfit: 'Outfit', sans-serif;
}

/* Make Outfit the default font for your app */
body {
    font-family: var(--font-outfit);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Optional: headings and other elements */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-outfit);
}

p,
span,
a,
li {
    font-family: var(--font-outfit);
}