@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    :root {
        --background: 0 0% 100%;

        --foreground: 0 0% 3.9%;
        --border: 0 0% 92%;

    }

    .dark {
        --background: 0 0% 2%;

        --foreground: 0 0% 98%;
        --border: 0 0% 14.9%;

    }
}

/* Apply the font variable */
:root {
    --font-outfit: 'Outfit', sans-serif;
}

/* Make Outfit the default font for your app */
body {
    font-family: var(--font-outfit);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale;  */

    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

/* Optional: headings and other elements */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-outfit);
}

p,
span,
a,
li {
    font-family: var(--font-outfit);
}